/* local styles */

.navigation a, .navigation span {
    font-family: 'kaushan_scriptregular';
    font-size: 1.5em;
}


h1, h2 /* h3 /* h4, h5, h6 */ {
    font-family: 'kaushan_scriptregular', Helvetica, sans-serif;
}